#autolike-controls {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 4px;
  position: fixed;
  top: 48px;
  left: 8px;
  border-radius: 4px;
  border: 2px solid #444;
  background: #eee;
  margin: 4px;
  padding: 8px;
  z-index: 7;
  font-family: sans-serif;
  font-size: 17px;
}

#autolike-controls .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 4px;
}

#autolike-controls .description {
  color: #666;
  font-size: 14px;
}

#autolike-controls #probability {
  flex-grow: 1;
}

#autolike-controls button {
  flex-grow: 1;
  width: 48px;
  border-radius: 4px;
  border: 1px solid #888;
  color: #000;
  font-family: monospace;
  font-size: 24px;
}

#autolike-controls button {
  background: #bbb;
}

#autolike-controls button:hover {
  background: #ccc;
}

#autolike-controls button:active {
  background: #aaa;
}

#dislike {
  background: #f99 !important;
}

#dislike:hover {
  background: #faa !important;
}

#dislike:active {
  background: #d88 !important;
}

#like {
  background: #9f9 !important;
}

#like:hover {
  background: #afa !important;
}

#like:active {
  background: #8d8 !important;
}
